@use "functions" as *;

:root {
  --max-width-content: calc(#{remcalc(1200)} + 2 * var(--grid-gutter));

  --transition-default: 120ms ease-in-out;

  --padding-page-horizontal: #{remcalc(18)};
  --padding-page-vertical: #{remcalc(24)};

  //
  // Space
  //
  --space-small: #{remcalc(8)};
  --space-normal: #{remcalc(16)};
  --space-medium: #{remcalc(24)};
  --space-large: #{remcalc(40)};
  --space-extra-large: #{remcalc(60)};

  //
  // Colors
  //

  --color-background: #f9f8f8;

  --podigee-color: #f5df4d;
  --main-player-color: #f5df4d;
  --main-player-light-color: #f7d5cf;
  --player-contrast-text: #ffffff;
  --black: #000000;
  --white: #ffffff;
  --grey: #808080;

  --color-text: var(--black);
}
