{% unless episode %}
<div class="section-title">Aktuelle Folge</div>
<article class="episode">
    <div class="episode__media">
        <img src="{{episodes.first.cover_image_url}}">
    </div>
    <div class="episode__content">
        <header>
            <time>
                {{episodes.first.published_at | date: "%d. %B %Y"}}
            </time>
            <h3 class="episode__headline">
                <a href="{{episodes.first.url}}">{{episodes.first.title}}</a>
                </h1>
        </header>
        <div class="episode__text">
            <p>{{episodes.first.description}}</p>
        </div>
        <div class="episode__actions">
            <a href="{{episodes.first.url}}" class="button button--outline">Mehr Infos zur Folge</a>
            <span>
                {% assign seconds = episode.duration | modulo: 60 %}
                {% assign rawMinutes = episode.duration | subtract: seconds %}
                {% assign minutes = rawMinutes | divided_by: 60 %}
                {% if minutes%}
                {{minutes}}min
                {% else %}
                00min
                {% endif %}
                {% if seconds%}
                {{seconds}}s
                {% else %}
                00s
                {% endif %}
            </span>
            </span>
        </div>
    </div>
</article>
{% endunless %}