{% include 'current_episode.html' %}
<div class="section-title">Vorherige Folgen</div>
{% for episode in episodes %}
{% if forloop.first == false %}
<article class="episode">
  {% if episode.image != empty %}
  <img src="{{episode.image}}">
  {% endif %}
  <header>
    <time>
      {{episode.published_at | date: "%d. %B %Y"}}
    </time>
    <h3 class="episode__headline">
      <a href="{{episode.url}}">{{episode.title}}</a>
    </h3>
  </header>
  <div class="episode__text">
    <p>{{episode.description}}</p>
    <a href="{{episode.url}}" class="button button--outline">Mehr Infos zur Folge</a>
  </div>
</article>
{% endif %}
{% endfor %}