{% include 'current_episode.html' %}
<div class="section-title">Vorherige Folgen</div>
{% for episode in episodes %}
{% if forloop.first == false %}
<article class="episode">
  {% if image != empty %}
  <img src="{{image}}">
  {% endif %}
  <header>
    <time>
      {{episode.published_at | date: "%d. %B %Y"}}
    </time>
    <h3 class="episode__headline">
      <a href="{{episode.url}}">{{episode.title}}</a>
    </h3>
  </header>
  <p class="episode__text">
    {{episode.description}}
  </p>
  {{episode.player}}
</article>
{% endif %}
{% endfor %}