<div class="section-main">
  <header class="meta">
    <div class="top-image">
      <img alt="{{podcast.title}}" src="{{blog.header_image}}">
    </div>
    <div class="title">
      <h1>
        {{podcast.title}}
      </h1>
      <p>
        {{podcast.subtitle}}
      </p>
    </div>
  </header>

  {% include 'navigation.html' %}

  {% include 'current_episode.html' %}

  <div class="posts">
    {% if blog.announcement != blank %}
    <div class="announcement">
      {{blog.announcement}}
    </div>
    {% endif %}
    {{page_content}}
  </div>

  {% include 'footer.html' %}
</div>