<div class="section-main">
  <header class="meta">
    <div class="top-image">
      <img alt="{{podcast.title}}" src="{{blog.header_image}}">
    </div>
  </header>

  {% include 'navigation.html' %}
  <div class="section-info">
    <div class="section-info--title">{{podcast.title}}</div>
    <div class="section-info--content"> Zukunftszeichen ist die Plattform für B2B-Unternehmen im
      Trans­formationsprozess.
      Unsere Mission ist, Erfahrungen zu
      teilen und das Erlebte weiterzugeben, um eine gemeinsame Zukunft zu sichern. In einem geschützten Raum wagen wir
      zu
      denken, zu träumen und zu gestalten. Wir diskutieren, beantworten Fragen und zeigen Lösungswege auf rund um die
      digitale
      Transformation.

      Wir wollen Mutmacher für radikale Antworten sein.</div>
    <a href="https://zukunftszeichen.de/thema/podcasts/" class="section-info--link">Mehr auf unserem Blog</a>
  </div>
  {% include 'current_episode.html' %}
  <div class="posts">
    {% if blog.announcement != blank %}
    <div class="announcement">
      {{blog.announcement}}
    </div>
    {% endif %}
    {{page_content}}
  </div>

  {% include 'footer.html' %}
</div>