<div class="hero">
  <div class="hero__container">
    <div class="hero__text">
      <div class="episode__content">
        <header>
          <time>
            {{episode.published_at | date: "%d. %B %Y"}}
          </time>
          <h3 class="episode__headline">
            <a href="{{episode.url}}">{{episode.title}}</a>
            </h1>
        </header>
        <div class="episode__text">
          <p>{{episode.description}}</p>
        </div>
        <div class="episode__actions">
          <a href="{{episode.url}}" class="button button--outline">Mehr Infos zur Folge</a>
          <span>
            {% assign seconds = episode.duration | modulo: 60 %}
            {% assign rawMinutes = episode.duration | subtract: seconds %}
            {% assign minutes = rawMinutes | divided_by: 60 %}
            {% if minutes%}
            {{minutes}}min
            {% else %}
            00min
            {% endif %}
            {% if seconds%}
            {{seconds}}s
            {% else %}
            00s
            {% endif %}
          </span>
          </span>
        </div>
      </div>
    </div>
    <div class="hero__poster">
      <img src="{{episodes.first.cover_image_url}}">
      <div class="hero__blob">
        <svg width="598" height="684" viewBox="0 0 598 684" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M479.101 136.162C526.534 184.638 579.7 211.221 593.253 250.836C606.805 290.45 580.222 343.617 577.615 420.761C574.488 497.383 595.338 597.983 560.936 646.459C526.534 694.934 437.401 691.807 371.203 660.011C304.484 628.737 261.221 569.315 196.587 530.743C131.953 492.171 45.9481 473.928 14.6736 427.016C-16.601 379.583 6.85494 303.481 40.7357 239.368C74.0952 175.777 118.401 124.695 171.046 78.3045C224.213 31.3927 286.241 -11.3492 337.844 2.72435C389.968 16.7979 431.668 87.6869 479.101 136.162Z"
            fill="#FFEC70" />
        </svg>
      </div>
    </div>
  </div>
</div>
<section class="section">
  <section class="post-media-player">
    {{episode.player}}
  </section>
  <section class="post-downloads">
    {{episode.downloads}}
  </section>
  {% if episode.transcript %}
  <section class="post-transcript">
    <a href="{{episode.url}}/transcript">{{'read_transcript' | t}}</a>
  </section>
  {% endif %}
  <br>
  <section class="post-show-notes">
    {{episode.show_notes}}
  </section>
</section>