<div class="hero">
  <div class="hero__container">
    <div class="hero__text">
      <div class="episode__content">
        <header>
          <time>
            {{episode.published_at | date: "%d. %B %Y"}}
          </time>
          <h3 class="episode__headline">
            <a href="{{episode.url}}">{{episode.title}}</a>
            </h1>
        </header>
        <div class="episode__text">
          <p>{{episode.description}}</p>
        </div>
        <div class="episode__actions">
          <a href="{{episode.url}}" class="button button--outline">Mehr Infos zur Folge</a>
          <span>
            {% assign seconds = episode.duration | modulo: 60 %}
            {% assign rawMinutes = episode.duration | subtract: seconds %}
            {% assign minutes = rawMinutes | divided_by: 60 %}
            {% if minutes%}
            {{minutes}}min
            {% else %}
            00min
            {% endif %}
            {% if seconds%}
            {{seconds}}s
            {% else %}
            00s
            {% endif %}
          </span>
          </span>
        </div>
      </div>
    </div>
    <div class="hero__poster">
      <img src="{{episodes.first.cover_image_url}}">
    </div>
  </div>
</div>
<section class="section">
  <section class="post-media-player">
    {{episode.player}}
  </section>
  <section class="post-downloads">
    {{episode.downloads}}
  </section>
  {% if episode.transcript %}
  <section class="post-transcript">
    <a href="{{episode.url}}/transcript">{{'read_transcript' | t}}</a>
  </section>
  {% endif %}
  <br>
  <section class="post-show-notes">
    {{episode.show_notes}}
  </section>
</section>