@use "../00-utilities" as *;

.button {
  display: flex;
  align-items: center;
  gap: var(--space-small);
  width: max-content;

  &--outline {
    font-size: 16px;
    line-height: 20px;

    @media (min-width: $m) {
      font-size: 18px;
      line-height: 27px;
    }

    border: 2px solid var(--black);
    padding: remcalc(10) remcalc(30);
  }

  &--round {
    border-radius: 65px;

    &:hover {
      background: black;
      color: white;

      svg * {
        fill: white;
      }
    }
  }
}

.buttons {
  display: flex;
  gap: var(--space-small);
  margin: var(--space-large) 0;
}
