@use "../00-utilities" as *;

.button {
  display: flex;
  align-items: center;
  gap: var(--space-small);
  width: max-content;
  transition: background 120ms ease-in-out;

  &:hover {
    background: black;
    color: white;

    svg * {
      fill: white;
    }

    svg {
      transform: scale(1.05);
    }
  }

  svg {
    width: remcalc(40);
    height: remcalc(40);
    transition: transform 120ms ease-in-out;
  }

  &--outline {
    font-size: 16px;
    line-height: 20px;

    @media (min-width: $m) {
      font-size: 18px;
      line-height: 27px;
    }

    border: 2px solid var(--black);
    padding: remcalc(10) remcalc(30);
  }

  &--round {
    border-radius: 65px;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-small);
  margin: var(--space-large) 0;

  & > * {
    flex-shrink: 0;
  }
}
