@use "../00-utilities" as *;
@use "../01-layout/layout-grid" as *;

.footer {
  grid-column: 1/-1;
  @extend %layout-grid;

  background: var(--brand-navy-deep);
  color: var(--white);

  &__container {
    grid-column: wide;

    display: flex;
    align-items: center;
    padding: remcalc(48) 0;
  }

  &__title {
    font-weight: bold;

    display: flex;
    align-items: left;
    flex-direction: column;
    gap: var(--space-normal);
  }

  &__title,
  &__link {
    color: var(--white);
    font-size: remcalc(14);
    line-height: remcalc(22);

    svg {
      width: remcalc(24);
      height: remcalc(24);
      color: var(--white);
    }
  }

  &__link a:hover {
    text-decoration: underline;
  }

  &__social {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-medium);

    .footer__link a {
      display: flex;
      transition: opacity var(--transition-default);

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
