@use "../00-utilities" as *;
@use "../01-layout/layout-grid" as *;

.footer {
  grid-column: 1/-1;
  @extend %layout-grid;

  &__container {
    grid-column: wide;

    display: flex;
    align-items: center;
    padding: remcalc(40) 0;
  }

  &__title {
    font-weight: bold;

    display: flex;
    align-items: left;
    flex-direction: column;
    gap: var(--space-normal);
  }

  &__title,
  &__link {
    font-size: remcalc(14);
    line-height: remcalc(22);

    svg {
      width: remcalc(24);
      height: remcalc(24);
      color: var(--black);
    }
  }

  &__social {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-medium);
  }
}
