@use "../00-utilities" as *;
@use "../01-layout/layout-grid" as *;

.header {
  // Full-bleed sticky bar with a subtle separator from the white page.
  grid-column: 1/-1;
  @extend %layout-grid;

  position: fixed;
  top: 0;
  z-index: 20;

  width: 100%;
  background: #ffffffe0;
  backdrop-filter: blur(5px);

  &__container {
    grid-column: wide;

    display: flex;
    align-items: center;
    height: var(--header-height);
  }

  &__title {
    font-weight: bold;
    align-items: center;
    display: flex;
    gap: var(--space-normal);
  }

  &__logo {
    height: remcalc(22);
    width: auto;

    @media (min-width: $l) {
      height: remcalc(28);
    }
  }

  &__title,
  &__link {
    font-size: remcalc(14);
    line-height: remcalc(22);

    @media (min-width: $l) {
      font-size: remcalc(18);
      line-height: remcalc(20);
    }
  }

  &__links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-medium);

    .header__link {
      @media (max-width: $s) {
        display: none;
      }
    }
  }
}
