@use "../00-utilities" as *;

.header {
  grid-column: wide;

  &__container {
    display: flex;
    align-items: center;
    padding: remcalc(10) 0;

    @media (min-width: $l) {
      padding-bottom: remcalc(35);
      padding-top: remcalc(60);
    }
  }

  &__title {
    font-weight: bold;
    align-items: center;
    display: flex;
    gap: var(--space-normal);
  }

  &__title,
  &__link {
    font-size: remcalc(14);
    line-height: remcalc(22);

    @media (min-width: $l) {
      font-size: remcalc(18);
      line-height: remcalc(20);
    }
  }

  &__links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-medium);

    .header__link {
      @media (max-width: $s) {
        display: none;
      }
    }
  }
}
