.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    max-width: 500px;
  }

  &__poster {
    aspect-ratio: 1 / 1;
    padding: remcalc(10);
    background: white;
    box-shadow: 16px 30px rgba(0, 0, 0, 0.18);
    border-radius: 6px;
  }
}
