@use "../00-utilities" as *;
@use "../01-layout/layout-grid" as *;

.hero {
  grid-column: 1 / -1;
  @extend %layout-grid;

  &__container {
    grid-column: wide;

    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "poster" "text";

    gap: var(--space-large);
    margin: var(--space-large) 0;

    @media (min-width: $m) {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr auto;
      grid-template-areas: "text poster";
      align-items: center;
    }
  }

  &__blob {
    position: absolute;
    width: 100%;
    height: 100%;

    max-width: 100vw;

    top: -10%;
    left: 60%;

    z-index: -1;
  }

  &__text {
    grid-area: text;
    max-width: 60ch;

    font-size: 16px;
    line-height: 20px;

    display: flex;
    flex-direction: column;
    gap: var(--space-medium);

    @media (min-width: $m) {
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__poster {
    grid-area: poster;
    padding: remcalc(5);
    background: white;
    box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.18);
    border-radius: 6px;

    max-width: remcalc(300);
    margin: 0 auto;
    overflow: hidden;

    @media (min-width: $m) {
      max-width: remcalc(460);
      margin: 0;
    }

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
    }
  }
}
