.pagination {
  margin: var(--space-large) 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";

  .pagination_previous_link {
    grid-area: left;
    justify-self: start;
  }

  .pagination_next_link {
      grid-area: right;
      justify-self: end;
  }

  a:hover {
    text-decoration: underline;
  }
}