@use "../00-utilities" as *;
@use "../01-layout/layout-grid" as *;

.section {
  grid-column: narrow;

  &--grey {
    grid-column: 1/-1;
    background: #f4f4f4;

    @extend %layout-grid;
  }

  &--yellow {
    grid-column: 1/-1;
    background: #faec95;

    padding: var(--space-large) 0;

    @extend %layout-grid;
  }

  &__content {
    grid-column: wide;
  }
}
