@use "../00-utilities" as *;

.section {
  padding: var(--padding-page-vertical) var(--padding-page-horizontal);

  &--grey {
    background: #f4f4f4;
    padding: calc(var(--padding-page-vertical) + var(--space-extra-large))
      var(--padding-page-horizontal);
  }
}
