@use "../00-utilities" as *;
@use "../01-layout/layout-grid" as *;

.section {
  grid-column: narrow;
  padding: var(--padding-page-vertical) var(--padding-page-horizontal);

  &--grey {
    grid-column: 1/-1;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAxNSAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE0LjU0NTUgMTcuNzY5M0gwVjIxLjAzNDhIMTQuNTQ1NVYxNy43NjkzWiIgZmlsbD0iYmxhY2siLz4KPHBhdGggZD0iTTE0LjU0NTQgMi4yNDQxOEwxMi4yOTc4IDBMNy4zMDIyNSA0Ljk5NTU1TDIuMzA2NyAwTDAuMDU5MDUxNSAyLjI0NDE4TDUuMDU0NiA3LjI0MzJMMC4wNTkwNTE1IDEyLjIzODdMMi4zMDY3IDE0LjQ4MjlMNy4zMDIyNSA5LjQ4NzM4TDEyLjI5NzggMTQuNDgyOUwxNC41NDU0IDEyLjIzODdMOS41NDY0MyA3LjI0MzJMMTQuNTQ1NCAyLjI0NDE4WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==);

    @extend %layout-grid;
  }

  &__content {
    grid-column: wide;
  }
}
