@use "../00-utilities" as *;

body {
  background: var(--color-background);
}

* {
  font-family: "PFDin Text Comp Pro", Arial, sans-serif;
}

.link {
  &:hover {
    text-decoration: underline;
  }
}

.section-title {
  display: inline-block;
  font-size: remcalc(20);
  line-height: remcalc(26);
  font-weight: 900;

  @media (min-width: $l) {
    font-size: remcalc(28);
    line-height: remcalc(36);
  }

  padding-bottom: remcalc(4);
  border-bottom: remcalc(6) solid var(--black);
  margin-bottom: var(--space-medium);
  margin-top: var(--space-extra-large);

  max-width: 40ch;
}
